body {
	background : url("../img/background.jpg") no-repeat scroll;
	background-size: cover;
}
.content {
	margin-bottom: 100px;
	position: absolute;
	left: 275px;
	top: 500px;
	width: 960px;
	height: 925px;

	background: url(../img/border.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.banner {
	position: absolute;
	top: 70px;
	left: 10px;
	width: 550px;
	height: 260px;

	background: url(../img/baner.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.banner img {
	float: left;
	padding: 10px;
}
.banner p {
	margin-left: 180px;
	padding: 30px 30px 0px 0px;
}
#p1 {
	font-size: 20px;
}

#text1 {
	margin: 70px 5px;
	float: right;
	width: 390px;
	font-size: 24px;
}
.heading {
	font-size: 30px;
}
#text2 {
	position: absolute;
	top: 320px;
	padding: 30px;
}